{% extends 'base.html' %}

{% load static %}

{% block title %}Note Entry{% endblock %}

{% block content %}
  <h2 style="margin: 28px;">Note Entry</h2>
    <div class="text-center">
      <button class="btn btn-primary" type="button" style="background-color: rgb(48,48,48);margin: 10px;">
        <a class="text-light" target="_blank" href="https://opensheetmusicdisplay.github.io/demo/">Generate Notation</a>
      </button>
      <button class="btn btn-primary" type="button" style="background-color: rgb(48,48,48);margin: 10px;">
        <a class="text-light" href="#">Generate Output</a>
      </button>
      <button class="btn btn-primary" type="button" style="background-color: rgb(48,48,48);margin: 10px;">
        <a class="text-light" href="#">Generate Analysis</a>
      </button>
      <button class="btn btn-primary" type="button" style="background-color: rgb(48,48,48);margin: 10px;">
        <a class="text-light" href="{% url 'compositions' %}">Exit Note Entry</a>
      </button>
    </div>
    <div class="text-nowrap flex-nowrap" style="overflow-x: scroll;margin: 28px;">
      <div class="row no-gutters text-nowrap flex-nowrap">
        {% for note in notes %}
          <div class="col-auto text-center" style="padding: 5px;">
            <div style="height: 120px;">
              <p>Order: {{ note.order }}</p>
              <p>Duration:<br>{{ note.duration }}<br>{{ note.accidental }}</p>
            </div>
            <div>
              {% if note.pitch == "C3" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes1.png' %}">
              {% elif note.pitch == "C#3" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes2.png' %}">
              {% elif note.pitch == "D3" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes3.png' %}">
              {% elif note.pitch == "D#3" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes4.png' %}">
              {% elif note.pitch == "E3" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes5.png' %}">
              {% elif note.pitch == "F3" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes6.png' %}">
              {% elif note.pitch == "F#3" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes7.png' %}">
              {% elif note.pitch == "G3" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes8.png' %}">
              {% elif note.pitch == "G#3" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes9.png' %}">
              {% elif note.pitch == "A3" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes10.png' %}">
              {% elif note.pitch == "A#3" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes11.png' %}">
              {% elif note.pitch == "B3" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes12.png' %}">
              {% elif note.pitch == "C4" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes13.png' %}">
              {% elif note.pitch == "C#4" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes14.png' %}">
              {% elif note.pitch == "D4" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes15.png' %}">
              {% elif note.pitch == "D#4" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes16.png' %}">
              {% elif note.pitch == "E4" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes17.png' %}">
              {% elif note.pitch == "F4" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes18.png' %}">
              {% elif note.pitch == "F#4" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes19.png' %}">
              {% elif note.pitch == "G4" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes20.png' %}">
              {% elif note.pitch == "G#4" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes21.png' %}">
              {% elif note.pitch == "A4" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes22.png' %}">
              {% elif note.pitch == "A#4" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes23.png' %}">
              {% elif note.pitch == "B4" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes24.png' %}">
              {% elif note.pitch == "C5" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes25.png' %}">
              {% elif note.pitch == "C#5" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes26.png' %}">
              {% elif note.pitch == "D5" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes27.png' %}">
              {% elif note.pitch == "D#5" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes28.png' %}">
              {% elif note.pitch == "E5" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes29.png' %}">
              {% elif note.pitch == "F5" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes30.png' %}">
              {% elif note.pitch == "F#5" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes31.png' %}">
              {% elif note.pitch == "G5" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes32.png' %}">
              {% elif note.pitch == "G#5" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes33.png' %}">
              {% elif note.pitch == "A5" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes34.png' %}">
              {% elif note.pitch == "A#5" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes35.png' %}">
              {% elif note.pitch == "B5" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes36.png' %}">
              {% elif note.pitch == "C6" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes37.png' %}">
              {% elif note.pitch == "rest" %}
                <img src="{% static 'assets/img/note_boxes/note_boxes38.png' %}">
              {% endif %}
            </div>
            <div><br><a class="text-dark" href="{% url 'note' note.id %}">Edit Note</a></div>
          </div>
        {% endfor %}
        <div class="col-auto" style="padding: 5px;">
          <div>
            <form method="post">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <div style="height: 120px;">
                <div class="fieldWrapper">
                  {{ form.order.errors }}
                  <label for="{{ form.order.id_for_label }}">Order:</label>
                  {{ form.order }}
                </div>
                <div class="fieldWrapper">
                  {{ form.duration.errors }}
                  <label for="{{ form.duration.id_for_label }}">Duration:</label>
                  {{ form.duration }}
                </div>
              </div>
              <div>
                {% for radio in form.pitch %}
                  <label for="{{ radio.id_for_label }}" style="margin: 1.5px !important">
                    <span class="radio">{{ radio.tag }}</span>
                  </label>{{ radio.choice_label }}<br>
                {% endfor %}
              </div>
              <div>
                <br><input type="submit" value="Save">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
