{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="margin: 28px;">Computer Assisted Music Generation System</h1>
    <div class="text-center">
      <button class="btn btn-primary" type="button" style="background-color: rgb(48,48,48);"><a class="text-light" href="{% url 'create' %}">Create New Composition</a></button>
    </div>
    <div>
      <p style="margin: 28px;">This is a system that was developed in order to help people compose music regardless of their background and training in either music or computer science.   has been developed as part of the Senior Thesis Project at Allegheny College.   is free to use.</p>
      <p style="margin: 28px;">This tool was developed to guide a user through the process of creating a melody.   musical ideas are yours, but the system provides a novel method of input and guidance to allow anyone to successfully create music.</p>
      <p style="margin: 28px;">Please create an accout and try out this system.  Once you have tried the tool, please consider clicking the button below to take a survey about your experience.</p>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" type="button" style="background-color: rgb(48,48,48);"><a class="text-light" href="#">Survey</a></button>
    </div>
{% endblock %}
